<div class="container align-text-center">
  <div>
  <%= form_tag explore_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find interests"
    %>
    <%= submit_tag "Search", class: "btn btn-primary my-2" %>
  <% end %>
  </div>
  <div class="p-3 my-2" style="background-color: #FFD3B4; border-radius:48px; text-align: center">
  <span>Hey, theres <%= @users.count %> people who shares the same interests as you, go ask em out!</span>
  </div>
  <div class="cards">
    <% @users.each do |user| %>

      <%unless user.id==current_user.id %>
       <div class="card">
         <% if user.profile_pic.attached? %>
           <%= cl_image_tag(user.profile_pic.key, width: 200, height: 200, crop: :scale) %>
         <% else %>
           <% file = URI.open("https://randomuser.me/api/portraits/#{['women','men'].sample}/#{rand(1..50)}.jpg") %>
           <% user.profile_pic.attach(io: file, filename: 'profile.png', content_type: 'image/png') %>
           <%= cl_image_tag(user.profile_pic.key, width: 200, height: 200, crop: :scale) %>
         <% end %>
          <div class="card-body">
            <div class="user-info">
              <p><%= user.user_name %></p>
            </div>
            <div>
              <%= link_to "View Me!", user_path(user.id), class: "btn btn-primary" %>
            </div>
          </div>
       </div>
      <% end %>

    <% end %>
  </div>
</div>
