<div class="container">

  <div class="profile-img p-3 text-center">
    <img src="https://picsum.photos/640/420" alt="">
  </div>

  <div class="profile-info my-3">
    <h3>Name: <%= @user.user_name %></h3>
    <h3>Email: <%= @user.email %></h3>
    <span>Address: <%= @user.address %></span>
  </div class="profile-interests my-3">
    <h4>Interests:</h4>
    <h5><%= @user.interests.join(", ") %></h5>
  </div>
  <div class="text-center">
    <%= link_to "Match" , create_path(data: params[:id]), method: :post,  class: "btn btn-primary"%>
  </div>


</div>
