<div class="container">

  <div class="profile-img p-3 text-center">
  <% if @user.profile_pic.attached? %>
    <%= cl_image_tag(@user.profile_pic.key, width: 200, height: 200, crop: :scale) %>
  <% else %>
    <%= cl_image_tag("icons8-avatar-144_cmjsux", width: 200, height: 200, crop: :scale) %>
  <% end %>
  </div>

  <div class="profile-info my-3">
    <h3>Name: <%= @user.name %></h3>
    <h3>NickName: <%= @user.user_name %></h3>
    <h2>Email: <%= @user.email %></h2 >
    <span>Address: <%= @user.address %></span>
  </div class="profile-interests my-3">
    <h4>Interests:</h4>
    <h5><%= @user.interests.join(", ") %></h5>
  </div>
  <div class="text-center">
    <%= link_to "Match" , create_path(data: params[:id]), method: :post,  class: "btn btn-primary"%>
  </div>


</div>
