<div class="container align-text-center">
  <div class="cards" >
    <% @matches.each do |match| %>
      <div class="card text-center" style="background-color: #dbdbdb; border-radius: 4%">
        <div>
          <% if User.find(match.user_2_id).profile_pic.attached? %>
           <%= cl_image_tag(User.find(match.user_2_id).profile_pic.key, width: 200, height: 200) %>
          <% end %>
        </div>
        <div class="card-body" style="border-radius:8%">
          <div class="user-info">
            <% if current_user.id == match.user_1_id %>
              <p><%= User.find(match.user_2_id).user_name %></p>
            <% else %>
              <p><%= User.find(match.user_1_id).user_name %></p>
            <% end %>
          </div>
          <div>
          <% if match[:status] == true %>
              <button type="button" class="btn btn-success">Chat Now!</button>
          <% elsif match.user_1_id == current_user.id %>
              <button type="button" class="btn btn-secundary" disabled>Pending...</button>
          <% else %>
              <%= link_to 'comfirm', update_path(match.id), method: :patch, class: "btn btn-primary" %>
              <%= link_to 'reject', destroy_path(match.id), method: :delete, class: "btn btn-primary" %>
          <% end %>
          </div>

        </div>
      </div>

    <% end %>
  </div>
</div>
